table.tabla
{
	border: 1px solid #6A6A6A;
}
td 
{
	text-align: center;
}
td.separador
{
	height: 10px;
	background-color: #6A6A6A;
}
tr.seccion
{
	font-size: 15px;
	border-bottom: 2px solid #B9B7B7;

}
tr.datos-cliente
{
	text-align: left;
	font-size: 10px;
}

table.detalle-venta
{
	padding: 4px;
	font-size: 10px;
}
table.detalle-venta tr
{
	border: 1px solid #E91A1A;
}

td.total-venta
{
	font-size: 12px;
	font-weight: bold;
	text-align: right;
}

table.tabla-ventas
{
	border: 1px solid #6A6A6A;
}
.tabla-ventas th {
    background-color: #4CAF50;
    color: white;
}
.tabla-ventas tr:nth-child(even)
{
	background-color: #f2f2f2
}

th {
    background-color: #4CAF50;
    color: white;
}